<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="['/home']"
        placement="bottom"
        tooltip="Votre e-bagagiste"
      >
        <span> Le GP</span>
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> Le GP </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a class="nav-link" placement="bottom" tooltip="Follow us on Twitter">
            <i class="fab fa-twitter"> </i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" placement="bottom" tooltip="Like us on Facebook">
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            placement="bottom"
            tooltip="Follow us on Instagram"
          >
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">
            Retour vers l'accueil
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header">
    <!-- <div class="page-header-image"></div> -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <div class="card card-register">
              <div class="card-header">
                <img
                  alt="Card image"
                  class="card-img"
                  src="assets/img/square1-red.png"
                />
                <h4 class="card-title">S'inscire</h4>
              </div>
              <div class="card-body">
                <form class="form" [formGroup]="registerForm">
                  <div class="row">
                    <div class="form-group col-lg-6">
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus === true }"
                      >
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="tim-icons icon-single-02"> </i>
                          </div>
                        </div>
                        <input
                          [ngClass]="{
                            'is-invalid': submitted && f.prenom.errors
                          }"
                          class="form-control"
                          placeholder="Prénom"
                          type="text"
                          formControlName="prenom"
                          (focus)="focusPrenom = true"
                          (blur)="focusPrenom = false"
                        />
                        <div
                          *ngIf="submitted && f.prenom.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.prenom.errors.required">
                            Prénom obligatoire
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus === true }"
                      >
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="tim-icons icon-single-02"> </i>
                          </div>
                        </div>
                        <input
                          [ngClass]="{
                            'is-invalid': submitted && f.nom.errors
                          }"
                          formControlName="nom"
                          class="form-control"
                          placeholder="Nom"
                          type="text"
                          (focus)="focusNom = true"
                          (blur)="focusNom = false"
                        />
                        <div
                          *ngIf="submitted && f.nom.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.nom.errors.required">
                            Nom obligatoire
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-badge"> </i>
                      </div>
                    </div>
                    <input
                      [ngClass]="{
                        'is-invalid': submitted && f.nomGp.errors
                      }"
                      formControlName="nom_gp"
                      class="form-control"
                      placeholder="Votre nom de GP"
                      type="text"
                      (focus)="focusnomGp = true"
                      (blur)="focusnomGp = false"
                    />
                    <div
                      *ngIf="submitted && f.nomGp.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.nomGp.errors.required">
                        Nom de GP deja utilisé
                      </div>
                    </div>
                  </div>

                  <!--

               
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-email-85"> </i>
                      </div>
                    </div>
                    <input
                      [ngClass]="{
                        'is-invalid': submitted && f.email.errors
                      }"
                      formControlName="email"
                      class="form-control"
                      placeholder="Email"
                      type="email"
                      (focus)="focusEmail = true"
                      (blur)="focusEmail = false"
                    />
                    <div
                      *ngIf="submitted && f.email.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.email.errors.required">
                        Email obligatoire
                      </div>
                    </div>
                  </div>

                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-mobile"> </i>
                      </div>
                    </div>
                    <input
                      [ngClass]="{
                        'is-invalid': submitted && f.phone.errors
                      }"
                      formControlName="phone"
                      class="form-control"
                      placeholder="Contact"
                      type="tel"
                      (focus)="focusPhone = true"
                      (blur)="focusPhone = false"
                    />
                    <div
                      *ngIf="submitted && f.phone.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.phone.errors.required">
                        Numero obligatoire
                      </div>

                      <div
                        *ngIf="
                          f.phone.errors.pattern || f.phone.errors.minlength
                        "
                      >
                        Un numero de téléphone est composé d'au moins 10
                        chiffres
                      </div>
                    </div>
                  </div>    -->

                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-lock-circle"> </i>
                      </div>
                    </div>
                    <input
                      [ngClass]="{
                        'is-invalid': submitted && f.password.errors
                      }"
                      formControlName="password"
                      class="form-control"
                      placeholder="Mot de passe **"
                      type="password"
                    />
                    <!-- (focus)="focusEmail = true" -->
                    <!-- (blur)="focusEmail = false" -->
                    <div
                      *ngIf="submitted && f.password.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.password.errors.minlength">
                        Mot de passe 6 carectéres au minimum obligatoire
                      </div>
                    </div>
                  </div>

                  <!--
                    
                  -->
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-lock-circle"> </i>
                      </div>
                    </div>
                    <input
                      [ngClass]="{
                        'is-invalid': submitted && f.passwordc.errors
                      }"
                      formControlName="passwordc"
                      class="form-control"
                      placeholder="Confirmer le mot de passe **"
                      type="password"
                      (focus)="focusPassword = true"
                      (blur)="focusPasswordv = false"
                    />

                    <div
                      *ngIf="submitted && f.passwordc.errors"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          f.passwordc.errors.required ||
                          f.passwordc.errors.minlength
                        "
                      >
                        Mot de passe 6 carectéres au minimum obligatoire
                      </div>
                    </div>
                  </div>

                  <div *ngIf="passwordDiff" class="invalid-feedback">
                    Les mots de passe sont différents
                  </div>

                  <!--
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="form-check form-check-radio">
                        <label class="form-check-label">
                          <!-- checked="checked" -->
                  <!-- <input
                            class="form-check-input"
                            id="exampleRadios1"
                            name="exampleRadios"
                            type="radio"
                            value="gp"
                            (change)="onRadioChange($event)"
                          />

                          <span class="form-check-sign"> </span> GP
                        </label>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-check form-check-radio">
                        <label class="form-check-label">
                          <input
                            class="form-check-input"
                            id="exampleRadios1"
                            name="exampleRadios"
                            type="radio"
                            value="client"
                            (change)="onRadioChange($event)"
                          />

                          <span class="form-check-sign"> </span> Client
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="isGp">
                    <div class="col-lg-8">
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus === true }"
                      >
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="tim-icons icon-single-02"> </i>
                          </div>
                        </div>
                        <input
                          class="form-control"
                          placeholder="Votre nom de GP"
                          type="text"
                          (focus)="focus = true"
                          (blur)="focus = false"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row" *ngIf="isGp">
                    <div class="col-12">
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus1 === true }"
                      >
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="tim-icons icon-mobile"> </i>
                          </div>
                        </div>
                        <input
                          class="form-control"
                          placeholder="+221"
                          type="text"
                          (focus)="focus1 = true"
                          (blur)="focus1 = false"
                        />
                      </div>
                    </div>
                  </div> -->

                  <!-- <div class="form-check text-left">
                    <label class="form-check-label">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        formControlName="termsConditions"
                        class="form-control"
                      />

                      <span class="form-check-sign"> </span> j'accepte lesz
                      <a href="javascript:void(0)"> termes and conditions </a> .
                    </label>
                  </div> -->
                  <div class="form-group">
                    <a
                      class="btn btn-danger btn-round btn-lg"
                      (click)="onSubmit()"
                    >
                      Confirmer
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">Le GP</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Accueil </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link"> Contact Us </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"> About Us </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1">
              <i class="fab fa-twitter"> </i>
            </a>
            <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1">
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a class="btn btn-icon btn-neutral btn-round btn-simple">
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
