<app-gp-navbar></app-gp-navbar>

<!--___________________ ENREGISTRER UN COLLIS______________  -->
<img class="path" src="assets/img/path3.png" />
<section class="section section-lg section-safe">
  <!-- <img class="path" src="assets/img/path5.png" /> -->
  <div class="container">
    <!-- <div class="row row-grid justify-content-between"> -->
    <div class="content-center">
      <h4>Déclarez un nouveau colis</h4>
      <div class="col-lg-8">
        <div class="progress-container progress-success">
          <div class="col-lg-4">
            <span class="progress-badge" *ngIf="isStep1">
              Détails du colis
            </span>
          </div>
          <div class="col-lg-4" *ngIf="isStep2">
            <span class="progress-badge"> Expéditeur </span>
          </div>
          <div class="col-lg-4" *ngIf="isStep3">
            <span class="progress-badge"> Destinataire </span>
          </div>

          <progressbar class="progress-bar-danger" value="30" *ngIf="isStep1">
            <span class="progress-value"> Etape 1/3 </span>
          </progressbar>
          <progressbar class="progress-bar-danger" value="60" *ngIf="isStep2">
            <span class="progress-value"> Etape 2/3 </span>
          </progressbar>
          <progressbar class="progress-bar-danger" value="100" *ngIf="isStep3">
            <span class="progress-value"> Etape 3/3 </span>
          </progressbar>
        </div>
      </div>
    </div>

    <div class="col-lg-8" [formGroup]="colisForm">
      <!-- <img class="img-fluid floating" src="assets/img/chester-wade.jpg" /> -->
      <hr class="line-success col-lg-4" />

      <!--________ETAPE 1_________  -->
      <div class="container" *ngIf="isStep1">
        <div class="row" *ngIf="voyages$ | async as voyages">
          <div class="col-md-8">
            <div class="form-group">
              <label> Sélectionnez le voyage correspondant </label>
              <select
                class="form-control select-option"
                [(ngModel)]="selectedVoyage"
                (change)="selectVoyage(selectedVoyage)"
                [ngModelOptions]="{ standalone: true }"
              >
                <option *ngFor="let voyage of voyages" [ngValue]="voyage">
                  {{ voyage.date_voyage }} {{ voyage.ville_depart }}
                  {{ voyage.ville_arrivee }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <label> Informations du colis </label>
        <tabset class="nav-tabs-danger justify-content-left tab-subcategories">
          <tab
            heading="Pesable"
            [formGroup]="descriptionColisTab1Form"
            (click)="changeTab1()"
          >
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Description</label>
                  <input
                    class="form-control"
                    type="string"
                    formControlName="descriptionp"
                  />
                  <!-- value="5"  -->
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label> Poids du colis(kg)</label>
                  <input
                    class="form-control"
                    type="number"
                    formControlName="poids"
                  />
                  <!-- value="5"  -->
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group">
                  <label> Montant </label>
                  <div class="row">
                    <div class="col-7">
                      <input
                        class="form-control"
                        type="number"
                        formControlName="montantp"
                      />
                    </div>
                    <div class="col-5" *ngIf="pays$ | async as pays">
                      <select
                        class="form-control select-option"
                        (change)="selectDevise($event)"
                      >
                        <option>Monnaie</option>
                        <option *ngFor="let p of pays" [value]="p.devise">
                          {{ p.devise }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab
            heading="Non Pesable"
            [formGroup]="descriptionColisTab2Form"
            (click)="changeTab2()"
          >
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label> Description</label>
                  <input
                    class="form-control"
                    type="string"
                    formControlName="descriptionnp"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label> Montant </label>
              <div class="row">
                <div class="col-5">
                  <input
                    class="form-control"
                    type="number"
                    formControlName="montantnp"
                  />
                </div>
                <div class="col-4" *ngIf="pays$ | async as pays">
                  <select
                    class="form-control select-option"
                    (change)="selectDevise($event)"
                  >
                    <option>Monnaie</option>
                    <option *ngFor="let p of pays">
                      {{ p.devise }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </tab>

          <!-- <tab heading="Valeur" [ngValue]="tab">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Preciser le type</label>
                  <select
                    class="form-control"
                    id="exampleFormControlSelect1"
                    style="background-color: aliceblue"
                  >
                    <option>Téléphone</option>
                    <option>Collier</option>
                    <option>PC portable</option>
                    <option>Electronique</option>
                    <option>Cosmétique</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Montant </label>
                  <input class="form-control" type="number" />
                
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Autre" [ngValue]="tab">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Description</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="gris gris"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Montant </label>
                  <input class="form-control" type="number" />
                </div>
              </div>
            </div>
          </tab> -->
        </tabset>

        <div class="col-lg-5">
          <label> Etat paiement </label>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="form-check form-check-radio">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  id="exampleRadios1"
                  name="paye"
                  type="radio"
                  value="true"
                  formControlName="paye"
                />

                <span class="form-check-sign"> </span> payé par l'expéditeur
              </label>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="form-check form-check-radio">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  id="exampleRadios1"
                  name="paye"
                  type="radio"
                  value="false"
                  formControlName="paye"
                />

                <span class="form-check-sign"> </span> sera payé par le
                destinataire
              </label>
            </div>
          </div>
        </div>
        <button
          class="btn btn-primary btn-icon btn-round mr-1 float-right"
          placement="right"
          type="submit"
          (click)="toStep2()"
        >
          <i class="tim-icons icon-double-right"> </i>
        </button>
      </div>
      <!--____ ETAPE 2 : EXPEDITEUR___ -->
      <div class="container" *ngIf="isStep2">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label> Nom complet </label>
              <input
                class="form-control"
                type="text"
                placeholder="Issakha DIOP"
                formControlName="expediteur"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label> CIN/Passeport/Séjour </label>
              <input
                class="form-control"
                placeholder="H3467Y"
                type="text"
                formControlName="cinExp"
              />
            </div>
          </div>
        </div>

        <div class="row" *ngIf="pays$ | async as pays">
          <div class="col-md-3">
            <div class="form-group">
              <label> Indicatif </label>
              <select
                class="form-control select-option"
                (change)="selectIndicatifExp($event)"
              >
                <option>Indicatif</option>
                <option *ngFor="let p of pays">
                  {{ p.indicatif }} {{ p.nom }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label> Téléphone </label>
              <input
                class="form-control"
                placeholder="0X XX XX XX XX"
                type="tel"
                formControlName="telephoneExp"
              />
            </div>
          </div>
        </div>

        <button
          class="btn btn-primary btn-icon btn-round mr-1 float-left"
          placement="left"
          (click)="backStep1()"
        >
          <i class="tim-icons icon-double-left"> </i>
        </button>
        <button
          class="btn btn-primary btn-icon btn-round mr-1 float-right"
          placement="right"
          (click)="toStep3()"
        >
          <i class="tim-icons icon-double-right"> </i>
        </button>
      </div>
      <!--____ ETAPE 3 : DESTINATAIRE___ -->
      <div class="container" *ngIf="isStep3">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label> Nom complet </label>
              <input
                class="form-control"
                type="text"
                placeholder="Sokhna KA"
                formControlName="destinataire"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label> CIN </label>
              <input
                class="form-control"
                placeholder="A5THY77"
                type="type"
                formControlName="cinDest"
              />
            </div>
          </div>
        </div>
        <div class="row" *ngIf="pays$ | async as pays">
          <div class="col-md-3">
            <div class="form-group">
              <label> Indicatif </label>
              <select
                class="form-control select-option"
                (change)="selectIndicatifDest($event)"
              >
                <option>Indicatif</option>
                <option *ngFor="let p of pays">
                  {{ p.indicatif }} {{ p.nom }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label> Téléphone </label>
              <input
                class="form-control"
                placeholder="0X XX XX XX XX"
                type="tel"
                formControlName="telephoneDest"
              />
            </div>
          </div>
        </div>

        <button
          class="btn btn-primary btn-icon btn-round mr-1 float-left"
          placement="left"
          (click)="backStep2()"
        >
          <i class="tim-icons icon-double-left"> </i>
        </button>
        <button
          class="btn btn-info btn-round float-right"
          placement="right"
          type="submit"
          (click)="createColis()"
        >
          Enrégistrer
        </button>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3"><h1 class="title">Le GP•</h1></div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']"> Accueil </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link"> Contact Us </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"> About Us </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="title">Follow us:</h3>
        <div class="btn-wrapper profile">
          <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1">
            <i class="fab fa-twitter"> </i>
          </a>
          <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1">
            <i class="fab fa-facebook-square"> </i>
          </a>
          <a class="btn btn-icon btn-neutral btn-round btn-simple">
            <!-- href="https://dribbble.com/creativetim"
            target="_blank" -->
            <i class="fab fa-instagram"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
