<app-gp-navbar></app-gp-navbar>

<!--___________________ ENREGISTRER UN COLLIS______________  -->
<img class="path" src="assets/img/path3.png" />
<section class="section section-lg section-safe">
  <!-- <img class="path" src="assets/img/path5.png" /> -->
  <div class="container">
    <!-- <div class="row row-grid justify-content-between"> -->
    <div class="content-center">
      <h4>Déclarez un nouveau colis</h4>
      <div class="col-lg-8">
        <div class="progress-container progress-success">
          <div class="col-lg-4">
            <span class="progress-badge" *ngIf="isStep1">
              Détails du colis
            </span>
          </div>
          <div class="col-lg-4" *ngIf="isStep2">
            <span class="progress-badge"> Expéditeur </span>
          </div>
          <div class="col-lg-4" *ngIf="isStep3">
            <span class="progress-badge"> Destinataire </span>
          </div>

          <progressbar class="progress-bar-danger" value="30" *ngIf="isStep1">
            <span class="progress-value"> Etape 1/3 </span>
          </progressbar>
          <progressbar class="progress-bar-danger" value="60" *ngIf="isStep2">
            <span class="progress-value"> Etape 2/3 </span>
          </progressbar>
          <progressbar class="progress-bar-danger" value="100" *ngIf="isStep3">
            <span class="progress-value"> Etape 3/3 </span>
          </progressbar>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <!-- <img class="img-fluid floating" src="assets/img/chester-wade.jpg" /> -->
      <hr class="line-success col-lg-4" />

      <!--________ETAPE 1_________  -->
      <div class="container" *ngIf="isStep1">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label> Sélectionnez le voyage correspondant </label>
              <input class="form-control" type="text" placeholder="TR3497" />
            </div>
          </div>
        </div>
        <label> Informations du colis </label>
        <tabset class="nav-tabs-danger justify-content-left tab-subcategories">
          <tab heading="Pesable">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Poids du collis</label>
                  <input class="form-control" type="number" value="5" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Montant </label>
                  <input class="form-control" type="number" value="70" />
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Papiers">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Nombre</label>
                  <input class="form-control" type="number" value="5" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Montant </label>
                  <input class="form-control" type="number" value="70" />
                </div>
              </div>
            </div>
          </tab>

          <tab heading="Valeur">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Preciser le type</label>
                  <select
                    class="form-contro"
                    id="exampleFormControlSelect1"
                    style="background-color: aliceblue"
                  >
                    <option>Téléphone</option>
                    <option>Collier</option>
                    <option>PC portable</option>
                    <option>Electronique</option>
                    <option>Cosmétique</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Montant </label>
                  <input class="form-control" type="number" value="70" />
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Autre">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Description</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="gris gris"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Montant </label>
                  <input class="form-control" type="number" value="70" />
                </div>
              </div>
            </div>
          </tab>
        </tabset>

        <div class="col-lg-5">
          <label> Etat paiement </label>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="form-check form-check-radio">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  id="exampleRadios1"
                  name="exampleRadios"
                  type="radio"
                  value="option1"
                />

                <span class="form-check-sign"> </span> payé par l'expéditeur
              </label>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="form-check form-check-radio">
              <label class="form-check-label">
                <input
                  checked="checked"
                  class="form-check-input"
                  id="exampleRadios1"
                  name="exampleRadios"
                  type="radio"
                  value="option2"
                />

                <span class="form-check-sign"> </span> sera payé par le
                destinataire
              </label>
            </div>
          </div>
        </div>

        <button
          class="btn btn-primary btn-icon btn-round mr-1 float-right"
          placement="right"
          (click)="toStep2()"
        >
          <i class="tim-icons icon-double-right"> </i>
        </button>
      </div>
      <!--____ ETAPE 2 : EXPEDITEUR___ -->
      <div class="container" *ngIf="isStep2">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label> Nom complet </label>
              <input
                class="form-control"
                type="text"
                placeholder="Issakha DIOP"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label> CIN </label>
              <input class="form-control" placeholder="H3467Y" type="type" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label> Téléphone </label>
              <input
                class="form-control"
                placeholder="0X XX XX XX XX"
                type="tel"
              />
            </div>
          </div>
        </div>
        <button
          class="btn btn-primary btn-icon btn-round mr-1 float-left"
          placement="left"
          (click)="backStep1()"
        >
          <i class="tim-icons icon-double-left"> </i>
        </button>
        <button
          class="btn btn-primary btn-icon btn-round mr-1 float-right"
          placement="right"
          (click)="toStep3()"
        >
          <i class="tim-icons icon-double-right"> </i>
        </button>
      </div>
      <!--____ ETAPE 3 : DESTINATAIRE___ -->
      <div class="container" *ngIf="isStep3">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label> Nom complet </label>
              <input class="form-control" type="text" placeholder="Sokhna KA" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label> CIN </label>
              <input class="form-control" placeholder="A5THY77" type="type" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label> Téléphone </label>
              <input
                class="form-control"
                placeholder="0X XX XX XX XX"
                type="tel"
              />
            </div>
          </div>
        </div>
        <button
          class="btn btn-primary btn-icon btn-round mr-1 float-left"
          placement="left"
          (click)="backStep2()"
        >
          <i class="tim-icons icon-double-left"> </i>
        </button>
        <button
          class="btn btn-info btn-round float-right"
          placement="right"
          type="submit"
        >
          Enrégistrer
        </button>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3"><h1 class="title">BLK•</h1></div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']"> Accueil </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']"> Register </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="https://creative-tim.com/contact-us">
              Contact Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://creative-tim.com/about-us">
              About Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://creative-tim.com/blog"> Blog </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://opensource.org/licenses/MIT">
              License
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="title">Follow us:</h3>
        <div class="btn-wrapper profile">
          <a
            class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
            href="https://twitter.com/creativetim"
            target="_blank"
          >
            <i class="fab fa-twitter"> </i>
          </a>
          <a
            class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
            href="https://www.facebook.com/creativetim"
            target="_blank"
          >
            <i class="fab fa-facebook-square"> </i>
          </a>
          <a
            class="btn btn-icon btn-neutral btn-round btn-simple"
            href="https://dribbble.com/creativetim"
            target="_blank"
          >
            <i class="fab fa-dribbble"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
