<app-gp-navbar></app-gp-navbar>
<div class="wrapper">
  <div class="section">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />

    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h3>
            <i>
              <img class="custom-icon" src="assets/img/ticket-flight.png" />
            </i>
            Gérer mes voyages
          </h3>
          <nav class="navbar navbar-expand-lg bg-success">
            <div class="container">
              <a class="navbar-brand" href="javascript:void(0)"> Voyages </a>
              <div>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gp-profile']">
                      <i aria-hidden="true" class="tim-icons icon-simple-add">
                      </i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">
                      <i aria-hidden="true" class="tim-icons icon-zoom-split">
                      </i>
                    </a>
                  </li>
                  <!-- <li class="nav-item dropdown" dropdown>
                    <a
                      class="nav-link dropdown-toggle dropdown-toggle"
                      data-toggle="dropdown"
                      dropdownToggle
                      href="javascript:void(0)"
                      id="navbarDropdownMenuLink"
                    >
                      <i
                        aria-hidden="true"
                        class="tim-icons icon-settings-gear-63"
                      >
                      </i>
                    </a>
                    <div
                      aria-labelledby="navbarDropdownMenuLink"
                      class="dropdown-menu dropdown-menu-right"
                      *dropdownMenu
                    >
                      <a class="dropdown-header"> Dropdown header </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Another action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Something else here
                      </a>
                      <div class="divider"></div>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Separated link
                      </a>
                      <div class="divider"></div>
                      <a class="dropdown-item" href="javascript:void(0)">
                        One more separated link
                      </a>
                    </div>
                  </li> -->
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="table-responsive" *ngIf="voyages$ | async as voyages">
            <table class="table tablesorter" id="plain-table">
              <thead>
                <tr>
                  <th>Date voyage</th>
                  <th>Ville départ</th>
                  <th>Ville arrivée</th>
                  <th>Nombre de colis</th>
                  <!-- <th class="text-right">Actions</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let voyage of voyages">
                  <td>{{ voyage.date_voyage }}</td>
                  <td>{{ voyage.ville_depart }}</td>
                  <td>{{ voyage.ville_arrivee }}</td>
                  <td>{{ voyage.nombre_de_colis }}</td>
                  <td class="align-items-center">
                    <button
                      type="button"
                      rel="tooltip"
                      class="btn btn-success btn-simple btn-icon btn-sm custom-margin"
                      (click)="openEditVoyageModal(voyage)"
                    >
                      <i class="tim-icons icon-pencil"></i>
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      class="btn btn-danger btn-simple btn-icon btn-sm"
                      (click)="deleteVoyage(voyage)"
                    >
                      <i class="tim-icons icon-simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <app-gp-footer></app-gp-footer>
  </footer>
</div>
