<app-gp-navbar></app-gp-navbar>
<div class="wrapper">
  <div class="section">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />
    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h3>Gestion des colis</h3>
          <nav class="navbar navbar-expand-lg bg-info">
            <div class="container">
              <a class="navbar-brand" href="javascript:void(0)"> Colis </a>
              <div>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gp-createlug']">
                      <i aria-hidden="true" class="tim-icons icon-simple-add">
                      </i>
                      Nouveau
                    </a>
                  </li>
                  <li class="nav-item" *ngIf="!isSearchOpened">
                    <a class="nav-link" (click)="openSearchBar()">
                      <i aria-hidden="true" class="tim-icons icon-zoom-split">
                      </i>
                      Recherche
                    </a>
                  </li>
                  <li class="nav-item" *ngIf="isSearchOpened">
                    <a class="nav-link" (click)="closeSearchBar()">
                      <i
                        aria-hidden="true"
                        class="tim-icons icon-simple-remove"
                      >
                      </i>
                      Fermer
                    </a>
                  </li>
                  <!-- <li class="nav-item dropdown" dropdown>
                    <a
                      class="nav-link dropdown-toggle dropdown-toggle"
                      data-toggle="dropdown"
                      dropdownToggle
                      href="javascript:void(0)"
                      id="navbarDropdownMenuLink"
                    >
                      <i
                        aria-hidden="true"
                        class="tim-icons icon-settings-gear-63"
                      >
                      </i>
                    </a>
                    <div
                      aria-labelledby="navbarDropdownMenuLink"
                      class="dropdown-menu dropdown-menu-right"
                      *dropdownMenu
                    >
                      <a class="dropdown-header"> Dropdown header </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Another action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Something else here
                      </a>
                      <div class="divider"></div>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Separated link
                      </a>
                      <div class="divider"></div>
                      <a class="dropdown-item" href="javascript:void(0)">
                        One more separated link
                      </a>
                    </div>
                  </li> -->
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="table-responsive">
            <table class="table tablesorter" id="plain-table" *ngIf="showTable">
              <thead>
                <tr>
                  <th>
                    nº colis
                    <div
                      *ngIf="isSearchOpened"
                      class="form-group"
                      [formGroup]="searchForm"
                    >
                      <input
                        class="form-control"
                        type="text"
                        formControlName="numeroColis"
                      />
                    </div>
                  </th>
                  <!-- <th *ngIf="!isSearchOpened">Statut</th> -->
                  <th>
                    Expéditeur
                    <div
                      *ngIf="isSearchOpened"
                      class="form-group"
                      [formGroup]="searchForm"
                    >
                      <input
                        class="form-control"
                        type="text"
                        formControlName="expediteur"
                      />
                    </div>
                  </th>
                  <th>
                    Destinataire
                    <div
                      *ngIf="isSearchOpened"
                      class="form-group"
                      [formGroup]="searchForm"
                    >
                      <input
                        class="form-control"
                        type="text"
                        formControlName="destinataire"
                      />
                    </div>
                  </th>
                  <th *ngIf="!isSearchOpened">Montant</th>
                  <th *ngIf="isSearchOpened">
                    <button class="btn-primary btn-round float-left">
                      <a class="nav-link" (click)="searchColis()">
                        <i aria-hidden="true" class="tim-icons icon-tap-02">
                        </i>
                        Valider
                      </a>
                    </button>
                  </th>
                  <!-- <th class="text-right">Actions</th> -->
                </tr>
              </thead>
              <tbody *ngIf="!isSearchOpened && colis$ | async as colis">
                <tr *ngFor="let c of colis.reverse()">
                  <td>{{ c.numero_colis }}</td>
                  <!-- <td>{{ c.etatColiscolis }}</td> -->
                  <td>{{ c.expediteur }}</td>
                  <td>{{ c.destinataire }}</td>
                  <td>{{ c.montant }}</td>
                  <td class="align-items-center">
                    <button
                      type="button"
                      rel="tooltip"
                      class="btn btn-success btn-simple btn-icon btn-sm custom-margin"
                      data-target="#myModal2"
                      (click)="myModal2.show()"
                    >
                      <i class="tim-icons icon-pencil"></i>
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      class="btn btn-danger btn-simple btn-icon btn-sm"
                    >
                      <i class="tim-icons icon-simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="colisFounded$ | async as colisRecherches">
                <tr *ngFor="let cr of colisRecherches">
                  <td>{{ cr.numero_colis }}</td>
                  <!-- <td>{{ c.etatColiscolis }}</td> -->
                  <td>{{ cr.expediteur }}</td>
                  <td>{{ cr.destinataire }}</td>
                  <td>{{ cr.montant }}</td>
                  <td class="align-items-center">
                    <button
                      type="button"
                      rel="tooltip"
                      class="btn btn-success btn-simple btn-icon btn-sm custom-margin"
                    >
                      <i class="tim-icons icon-pencil"></i>
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      class="btn btn-danger btn-simple btn-icon btn-sm"
                    >
                      <i class="tim-icons icon-simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="contain-error">
              <div
                *ngIf="(colisFounded$ | async)?.length === 0"
                class="text-centrer"
              >
                Aucun resultat trouvé
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <app-gp-footer></app-gp-footer>
    </footer>
  </div>
</div>

<!--_____________________ MODIFICATION COLIS_________________  -->

<div
  aria-hidden="true"
  aria-labelledby="myModalLabel"
  bsModal
  class="modal fade modal-black"
  #myModal2="bs-modal"
  id="myModal2"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button
          aria-hidden="true"
          class="close"
          data-dismiss="modal"
          (click)="myModal2.hide()"
          type="button"
        >
          <i class="tim-icons icon-simple-remove text-white"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <p class="mb-0">Modifier le colis</p>
        </div>
      </div>
      <!-- <div class="modal-body">
        <form class="form" [formGroup]="registerForm">
          <div class="form-group mb-3">
            <div
              class="input-group input-group-alternative"
              [ngClass]="{ 'input-group-focus': focus1 === true }"
            >
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-single-02"> </i>
                </span>
              </div>
              <input
                [ngClass]="{
                  'is-invalid': submitted && f.identifier.errors
                }"
                class="form-control"
                formControlName="identifier"
                placeholder="Description"
                type="text"
                (focus)="focus1 = true"
                (blur)="focus1 = false"
              />
              <div
                *ngIf="submitted && f.identifier.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.identifier.errors.required">
                  Nom d'utilisateur obligatoire
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div
              class="input-group input-group-alternative"
              [ngClass]="{ 'input-group-focus': focus2 === true }"
            >
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-key-25"> </i>
                </span>
              </div>
              <input
                [ngClass]="{
                  'is-invalid': submitted && f.password.errors
                }"
                class="form-control"
                formControlName="password"
                placeholder="Mot de passe"
                type="password"
                (focus)="focus2 = true"
                (blur)="focus2 = false"
              />
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">Expéditeur</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div>
              <button
                class="btn btn-primary my-4"
                type="button"
                (click)="logOn()"
              >
                Se connecter
              </button>
            </div>
            <div>
              <button
                class="btn btn-primary my-4"
                type="button"
                (click)="logOn()"
              >
                Annuler
              </button>
            </div>
          </div>
        </form>
      </div> -->
    </div>
  </div>
</div>
