<app-gp-navbar></app-gp-navbar>
<div class="wrapper">
  <div class="section">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />
    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h3>
            <i>
              <img class="custom-icon2" src="assets/img/business-trip.png" />
            </i>
            Gérer mes colis
          </h3>
          <nav class="navbar navbar-expand-lg bg-info">
            <div class="container">
              <a class="navbar-brand" href="javascript:void(0)"> Colis </a>
              <div>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gp-createlug']">
                      <i aria-hidden="true" class="tim-icons icon-simple-add">
                      </i>
                      Nouveau
                    </a>
                  </li>
                  <li class="nav-item" *ngIf="!isSearchOpened">
                    <a class="nav-link" (click)="openSearchBar()">
                      <i aria-hidden="true" class="tim-icons icon-zoom-split">
                      </i>
                      Recherche
                    </a>
                  </li>
                  <li class="nav-item" *ngIf="isSearchOpened">
                    <a class="nav-link" (click)="closeSearchBar()">
                      <i
                        aria-hidden="true"
                        class="tim-icons icon-simple-remove"
                      >
                      </i>
                      Fermer
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="table-responsive">
            <table class="table tablesorter" id="plain-table" *ngIf="showTable">
              <thead>
                <tr>
                  <th>
                    nº colis
                    <div
                      *ngIf="isSearchOpened"
                      class="form-group"
                      [formGroup]="searchForm"
                    >
                      <input
                        class="form-control"
                        type="text"
                        formControlName="numeroColis"
                      />
                    </div>
                  </th>
                  <th *ngIf="!isSearchOpened">Description</th>
                  <!-- <th *ngIf="!isSearchOpened">Statut</th> -->
                  <th>
                    Expéditeur
                    <div
                      *ngIf="isSearchOpened"
                      class="form-group"
                      [formGroup]="searchForm"
                    >
                      <input
                        class="form-control"
                        type="text"
                        formControlName="expediteur"
                      />
                    </div>
                  </th>
                  <th>
                    Destinataire
                    <div
                      *ngIf="isSearchOpened"
                      class="form-group"
                      [formGroup]="searchForm"
                    >
                      <input
                        class="form-control"
                        type="text"
                        formControlName="destinataire"
                      />
                    </div>
                  </th>
                  <th *ngIf="!isSearchOpened">Montant</th>
                  <th *ngIf="isSearchOpened">
                    <button class="btn-primary btn-round float-left">
                      <a class="nav-link" (click)="searchColis()">
                        <i aria-hidden="true" class="tim-icons icon-tap-02">
                        </i>
                        Valider
                      </a>
                    </button>
                  </th>
                  <!-- <th class="text-right">Actions</th> -->
                </tr>
              </thead>
              <tbody *ngIf="!isSearchOpened && colis$ | async as colis">
                <tr *ngFor="let c of colis">
                  <td>{{ c.numero_colis }}</td>
                  <td>{{ c.description }}</td>
                  <td>{{ c.expediteur }}</td>
                  <td>{{ c.destinataire }}</td>
                  <td>{{ c.montant }}</td>
                  <td class="align-items-center">
                    <button
                      type="button"
                      rel="tooltip"
                      class="btn btn-success btn-simple btn-icon btn-sm custom-margin"
                      (click)="openEditModal(c)"
                    >
                      <i class="tim-icons icon-pencil"></i>
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      class="btn btn-danger btn-simple btn-icon btn-sm"
                      (click)="deleteColis(c)"
                    >
                      <i class="tim-icons icon-simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="colisFounded$ | async as colisRecherches">
                <tr *ngFor="let cr of colisRecherches">
                  <td>{{ cr.numero_colis }}</td>
                  <td>{{ cr.description }}</td>
                  <td>{{ cr.expediteur }}</td>
                  <td>{{ cr.destinataire }}</td>
                  <td>{{ cr.montant }}</td>
                  <td class="align-items-center">
                    <button
                      type="button"
                      rel="tooltip"
                      class="btn btn-success btn-simple btn-icon btn-sm custom-margin"
                      (click)="openEditModal(cr)"
                    >
                      <i class="tim-icons icon-pencil"></i>
                    </button>

                    <button
                      type="button"
                      rel="tooltip"
                      class="btn btn-danger btn-simple btn-icon btn-sm"
                      (click)="deleteColis(cr)"
                    >
                      <i class="tim-icons icon-simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="contain-error">
              <div
                *ngIf="(colisFounded$ | async)?.length === 0"
                class="text-centrer"
              >
                Aucun resultat trouvé
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <app-gp-footer></app-gp-footer>
    </footer>
  </div>
</div>
