.a {
    width: 50%;
    height: 100px;
    background-color: #6495ED;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding:10px;
    cursor: move;
  }


 
  // .row {
  //   margin-bottom: 20px;
  // }
  // .row .row {
  //   margin-top: 10px;
  //   margin-bottom: 0;
  // }
  [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    // background-color: #DAF7A6;
    // background-color: #e9f5f9;

    // background-color: rgba(86,61,124,.15);
 

    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
  }
  
  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .dndPlaceholder{
    // background-color: #808080;
    display: block;
    min-height: 42px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(61, 124, 96, 0.2);
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    
  }

  .custom-margin {
    margin-right: 10px;  
  }
 
  @media (max-width: 576px) { /* Petits écrans (tels que les téléphones) */
    .custom-margin {
      display: block; /* Affiche les boutons en bloc */
      margin-right: 0;
      margin-bottom: 10px; /* Espace entre les boutons en mode bloc */
    }
  }

  .contain-error {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .text-centrer {
    text-align: center;
  }

  .custom-icon2 {
    width: 40px;
    height: 30px;
}


  