<div class="section section-coins">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <hr class="line-info" />
        <h1>
          Les prochains départs
          <span class="text-info">faites votre choix</span>
        </h1>
      </div>
    </div>

    <div class="row">
      <!-- Utilisation de *ngFor pour générer les cartes de voyages -->
      <div *ngFor="let voyage of Voyages" class="col-md-3">
        <div class="card card-coin card-plain">
          <div class="card-header">
            <img class="img-center img-fluid" src="/assets/img/8bag.png" />
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 text-center">
                <h4 class="text-uppercase">
                  {{ voyage.nom_gp || text - uppercase }}
                </h4>
                <span
                  >{{ voyage.ville_depart }} vers
                  {{ voyage.ville_arrivee }}</span
                >
                <hr class="line-success" />
              </div>
            </div>
            <div class="row">
              <ul class="list-group">
                <li class="list-group-item">
                  {{ voyage.kilo_dispo }} kg disponibles
                </li>
                <li class="list-group-item">
                  {{ voyage.tarif }} {{ voyage.devise }}/kg
                  <!-- ===
                  {{ voyage.tarif }} fr/kg -->
                </li>
                <li class="list-group-item">
                  Départ :
                  {{ voyage.date_voyage | date : "dd MMMM yyyy" | uppercase }}
                </li>

                <li class="list-group-item">
                  Dépot : {{ voyage.ville_depart }}
                </li>
                <li class="list-group-item">
                  Reception : {{ voyage.ville_arrivee }}
                </li>
              </ul>
            </div>
          </div>
          <div class="card-footer text-center">
            <button
              class="btn btn-success btn-simple"
              (click)="showContact(voyage)"
            >
              Contact du GP
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal pour afficher les contacts -->
<!-- Modal pour afficher les contacts -->
<div
  aria-hidden="true"
  aria-labelledby="myModalLabel"
  bsModal
  class="modal fade modal-mini modal-danger modal-mini"
  #myModal1="bs-modal"
  id="myModal1"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button
          aria-hidden="true"
          class="close"
          data-dismiss="modal"
          (click)="myModal1.hide()"
          type="button"
        >
          <i class="tim-icons icon-simple-remove text-white"></i>
        </button>
        <div class="modal-profile">
          <i class="tim-icons icon-single-02"></i>
        </div>
      </div>
      <div class="modal-body">
        <p>{{ selectedVoyage?.nom_gp | uppercase }}</p>
        <p>77 YYY YYY YY</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-link btn-neutral" (click)="myModal1.hide()">
          FERMER
        </button>
      </div>
    </div>
  </div>
</div>
