<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/home']"
        tooltip="votre e-bagagiste !"
      >
        <span> Le GP•</span>
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> Le GP </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>

      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a class="nav-link" *ngIf="!isLoggedIn" [routerLink]="['/register']">
            <i class="tim-icons icon-badge"> </i> S'inscrire
          </a>
        </li>

        <li class="nav-item p-0">
          <!-- btn btn-default d-none d-lg-block -->
          <a
            class="nav-link"
            data-target="#myModal2"
            *ngIf="!isLoggedIn"
            (click)="myModal2.show()"
          >
            <i class="tim-icons icon-single-02"> </i> Se connecter
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" *ngIf="isLoggedIn" [routerLink]="['/gp-profile']">
            <i class="tim-icons icon-badge"> </i> Mon profil
          </a>
        </li>

        <li class="nav-item p-0">
          <a class="nav-link" placement="bottom" tooltip="Follow us on Twitter">
            <i class="fab fa-twitter"> </i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" placement="bottom" tooltip="Like us on Facebook">
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            placement="bottom"
            tooltip="Follow us on Instagram"
          >
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        <!-- <li class="dropdown nav-item" dropdown>
          <a
            class="dropdown-toggle nav-link dropdown-toggle"
            data-toggle="dropdown"
            dropdownToggle
            href="javascript:void(0)"
          >
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> A propos
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
            <a
              class="dropdown-item"
              href="https://demos.creative-tim.com/blk-design-system-angular/#/documentation/overview"
            >
              <i class="tim-icons icon-paper"> </i> Documentation
            </a>
            <a class="dropdown-item" [routerLink]="['/register']">
              <i class="tim-icons icon-bullet-list-67"> </i> Nos Services
            </a>
            <a class="dropdown-item" [routerLink]="['/landing']">
              <i class="tim-icons icon-image-02"> </i> Qui sommes nous ?
            </a>
            <a class="dropdown-item" [routerLink]="['/profile']">
              <i class="tim-icons icon-single-02"> </i>
            </a>
          </div>
        </li> -->
        <li class="nav-item">
          <!-- btn btn-default d-none d-lg-block -->
          <a class="nav-link" *ngIf="isLoggedIn" (click)="logOut()">
            <i class="tim-icons icon-single-02"> </i> Déconnecter
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--_____________________ CONTACT GP _________________  -->
<div
  aria-hidden="true"
  aria-labelledby="myModalLabel"
  bsModal
  class="modal fade modal-mini modal-danger modal-mini"
  #myModal1="bs-modal"
  id="myModal1"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button
          aria-hidden="true"
          class="close"
          data-dismiss="modal"
          (click)="myModal1.hide()"
          type="button"
        >
          <i class="tim-icons icon-simple-remove text-white"> </i>
        </button>
        <div class="modal-profile">
          <i class="tim-icons icon-single-02"> </i>
        </div>
      </div>
      <div class="modal-body">
        <p>MINA GP</p>
        <p>+212 XXX XX XX XX</p>
        <p>+221 XX XXX XX XX</p>
      </div>
      <div class="modal-footer">
        <!-- <button class="btn btn-link btn-neutral" type="button">Back</button> -->
        <button
          class="btn btn-link btn-neutral"
          data-dismiss="modal"
          type="button"
          (click)="myModal1.hide()"
        >
          FERMER
        </button>
      </div>
    </div>
  </div>
</div>

<!--_____________________ CONNEXION MODAL_________________  -->
<div
  aria-hidden="true"
  aria-labelledby="myModalLabel"
  bsModal
  class="modal fade modal-black"
  #myModal2="bs-modal"
  id="myModal2"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button
          aria-hidden="true"
          class="close"
          data-dismiss="modal"
          (click)="myModal2.hide()"
          type="button"
        >
          <i class="tim-icons icon-simple-remove text-white"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Connexion</h3>
        </div>
      </div>
      <div class="modal-body">
        <!-- Loader -->
        <div *ngIf="isLoading" class="text-center mb-3">
          <div class="airplane-spinner">
            <img
              src="assets/img/ticket-flight.png"
              alt="Airplane in flight"
              class="airplane"
            />
          </div>
          <p>Connexion en cours...</p>
        </div>

        <!-- Error Message -->
        <div *ngIf="erroMessage && !isLoading" class="alert alert-danger">
          {{ erroMessage }}
        </div>

        <form class="form" [formGroup]="registerForm">
          <div class="form-group mb-3">
            <div
              class="input-group input-group-alternative"
              [ngClass]="{ 'input-group-focus': focus1 === true }"
            >
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-single-02"> </i>
                </span>
              </div>
              <input
                [ngClass]="{
                  'is-invalid': submitted && f.identifier.errors
                }"
                class="form-control"
                formControlName="identifier"
                placeholder="Nom d'utilisateur"
                type="text"
                (focus)="focus1 = true"
                (blur)="focus1 = false"
              />
              <div
                *ngIf="submitted && f.identifier.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.identifier.errors.required">
                  Nom d'utilisateur obligatoire
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div
              class="input-group input-group-alternative"
              [ngClass]="{ 'input-group-focus': focus2 === true }"
            >
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-key-25"> </i>
                </span>
              </div>
              <input
                [ngClass]="{
                  'is-invalid': submitted && f.password.errors
                }"
                class="form-control"
                formControlName="password"
                placeholder="Mot de passe"
                type="password"
                (focus)="focus2 = true"
                (blur)="focus2 = false"
              />
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">
                  Mot de passe obligatoire
                </div>
              </div>
            </div>
          </div>
          <div class="form-check mt-3">
            <label class="form-check-label">
              <input
                checked="checked"
                class="form-check-input"
                type="checkbox"
              />
              <span class="form-check-sign"> </span> Se souvenir de moi!
            </label>
          </div>
          <div class="text-center">
            <button
              class="btn btn-primary my-4"
              type="button"
              *ngIf="!isLoading"
              (click)="logOn()"
            >
              Se connecter
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
