<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/home']" placement="bottom">
        <span> Le GP•</span>
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> Le GP </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/gp-managelug']">
            <i> <img class="custom-icon" src="/assets/img/luggage.png" /> </i
            >Mes colis
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/gp-managetrip']">
            <i>
              <img class="custom-icon" src="/assets/img/passport.png" />
            </i>
            Mes voyages
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/own-clients']">
            <i> <img class="custom-icon" src="/assets/img/costumer.png" /> </i
            >Mes clients
          </a>
        </li>

        <li class="dropdown nav-item" dropdown>
          <a
            class="dropdown-toggle nav-link dropdown-toggle"
            data-toggle="dropdown"
            dropdownToggle
            href="javascript:void(0)"
          >
            <i>
              <img class="custom-icon" src="assets/img/user.png" />
            </i>
            Mon compte
          </a>
          <div
            class="dropdown-menu dropdown-with-icons select-option"
            *dropdownMenu
          >
            <a class="dropdown-item" [routerLink]="['/gp-profile']">
              <i class="tim-icons icon-paper"> </i>Espace e-GP
            </a>
            <a class="dropdown-item" [routerLink]="['/register']">
              <i class="tim-icons icon-bullet-list-67"> </i>Modifier profil
            </a>
            <a class="dropdown-item" *ngIf="isLoggedIn" (click)="logOut()">
              <i class="tim-icons icon-upload"> </i> Déconnecter
            </a>
          </div>
        </li>

        <!-- <div class="d-flex flex-row vw-95 justify-content-between align-items-center mx-auto mt-2">
          <h3 routerLink="/" class="font-weight-bold">Quiz<span class="font-weight-light">App</span></h3>
          <div class="d-flex align-items-center">
              <div class="rounded-circle bg-success text-white avatar mr-2 d-flex align-items-center justify-content-center"
                  *ngIf="isLoggedIn" placement="left" ngbTooltip="Scores for {{username}}" routerLink="/scores">
                  <h3 class="avatar-text">{{avatarInitial | uppercase}}</h3>
              </div>
              <button routerLink="/auth/signup" type="button" class="m-1 btn app-bg-grey btn-sm" *ngIf="!isLoggedIn">Sign
                  Up</button>
              <button routerLink="/auth/login" type="button" class="m-1 btn app-bg-grey btn-sm"
                  *ngIf="!isLoggedIn">Login</button>
              <button (click)="logout()" type="button" class="m-1 btn app-bg-grey btn-sm" *ngIf="isLoggedIn">Logout</button>
          </div>
      </div> -->

        <!-- <li class="nav-item">
          <a
            class="nav-link"
            href="https://github.com/creativetimofficial/blk-design-system-angular/issues"
          >
            Have an issue?
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
